.lastProduct{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.container{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.title{
    border-bottom: 1px solid #999;
    margin: 10px 20px;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 500;
}